# =====================
# PYTHON
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# VIRTUAL ENV
# =====================
.venv/
venv/
env/

# =====================
# PYINSTALLER
# =====================
build/
dist/
*.spec.bak

# =====================
# LOGS / RUNTIME
# =====================
*.log

# =====================
# EDITORES
# =====================
.vscode/
.idea/

# =====================
# SISTEMA OPERATIVO
# =====================
.DS_Store
Thumbs.db

# =====================
# ARCHIVOS GENERADOS
# =====================
progress.json
