# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados específicos
*.so

# =========================
# ENTORNOS VIRTUALES
# =========================
.venv/
venv/
env/
ENV/

# =========================
# DISTRIBUCIÓN / BUILD
# =========================
build/
dist/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# =========================
# PYINSTALLER
# =========================
*.spec
*.manifest

# =========================
# TEST / COVERAGE
# =========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITORES
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db

# =========================
# ARCHIVOS LOCALES
# =========================
progress.json
.env
.env.*
